.advantages {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.advantages__list-inside {
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.advantages__title-about {
  margin: 0 auto;
  padding: 34px 25px 36px;
  max-width: 484px;
}

.advantages__title-description {
  margin: 0;
  padding: 0 18px 35px;
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 23px 18px 9px;

  &--with-image {
    color: #ffffff;
    padding: 37px 18px 11px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 17px 36px 28px;

  &--with-image {
    color: #ffffff;
    padding: 17px 18px 37px;
  }
}

.advantages__title-sub {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.advantages__number,
.advantages__description-sub {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.advantages__item {
  width: 320px;
  background-color: #eeeeee;

  &--with-image {
    padding: 0;
  }
}

.advantages__item-sub {
  min-height: 92px;
  padding: 23px 18px 0;
  background-color: #ffffff;


  &--house {
    background-image: url("../img/svg/advantages-house.svg");
    background-repeat: no-repeat;
    background-position: 6% 26%;
    background-size: 40px;
  }

  &--food {
    background-image: url("../img/svg/advantages-food.svg");
    background-repeat: no-repeat;
    background-position: 6% 33%;
    background-size: 40px;
  }

  &--souvenirs {
    padding-bottom: 46px;
    background-image: url("../img/svg/advantages-souvenirs.svg");
    background-repeat: no-repeat;
    background-position: 8% 20%;
    background-size: 32px 38px;
  }
}

@media (max-width: @mobile-width-only) {
  .advantages__title,
  .advantages__description {
    br {
      display: none;
    }
  }

  .advantages__item-sub {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
  }

  .advantages__title-sub {
    align-self: start;
    padding-top: 10px;

    &--house {
      padding-top: 11px;
    }
  }

  .advantages__description-sub {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 16px;

    br {
      display: none;
    }

    &--souvenirs {
      padding-top: 16px;
    }
  }

  .advantages__item {
    position: relative;

    &:nth-child(n+3):nth-last-child(n+2)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 18px;
      right: 18px;
      width: 284px;
      height: 1px;
      background-color: #d6d6d6;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-about {
    margin: 0 auto;
    padding: 49px 130px 29px;
    font-size: 21px;
  }

  .advantages__title-description {
    padding-bottom: 55px;
  }

  .advantages__title {
    font-size: 21px;
    padding: 54px 40px 10px;

    &--with-image {
      padding: 52px 40px 10px;
    }
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
    justify-content: center;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 256px;
    width: 256px;
  }

  .advantages__item:first-child {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .advantages__item:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .advantages__item:nth-child(4) .advantages__title {
    padding-top: 42px;
  }

  .advantages__list-inside {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  .advantages__title-sub {
    font-size: 21px;
    padding: 156px 0 23px;

    &--souvenirs {
      padding-top: 154px;
    }
  }

  .advantages__description {
    padding: 25px 33px;

    &--with-image {
      padding-top: 24px;

      br {
        display: none;
      }
    }
  }

  .advantages__item-sub {
    min-height: 330px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0;

    &--house {
      background-position: 49% 23%;
      background-size: 77px 72px;
    }

    &--food {
      background-position: 49% 23%;
      background-size: 80px 68px;
    }

    &--souvenirs {
      background-repeat: no-repeat;
      background-position: 51% 25%;
      background-size: 66.5px 75px;
    }
  }

  .advantages__description-sub {
    padding: 0 33px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title-about {
    padding-top: 60px;
  }

  .advantages__title-description {
    padding-bottom: 44px;
  }

  .advantages__item {
    padding: 0;
    width: 400px;
  }

  .advantages__item-sub {
    width: 400px;

    &--house {
      background-position: 51% 27%;
      background-size: 79px 72px;
    }

    &--food {
      background-position: 50% 28%;
      background-size: 73px 68px;
    }

    &--souvenirs {
      background-position: 50% 27%;
      background-size: 77px 75px;
    }
  }

  .advantages__title-sub {
    padding: 170px 0 23px;

    &--food {
      padding-top: 167px;
    }

    &--souvenirs {
      padding-top: 171px;
    }
  }

  .advantages__title {
    padding-top: 63px;
    padding-bottom: 13px;

    &--with-image {
      padding-top: 52px;
    }
  }

  .advantages__item:nth-child(4) .advantages__title {
    padding-top: 52px;
  }

  .advantages__description {
    padding-top: 22px;

    &--with-image {
      padding-top: 23px;

      br {
        display: block;
      }
    }
  }

  .advantages__description-sub {
    padding: 0 50px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 587px 256px 256px;
    justify-content: center;
  }

  .advantages__list-inside {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 330px;
  }
}
