.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.main-nav__toggle::before {
  position: absolute;
  top: 0;
  left: 10px;
  width: 3px;
  height: 24px;
  background-color: #ffffff;
  transform: rotate(135deg);
  content: "";
}

.main-nav__toggle::after {
  position: absolute;
  top: 0;
  left: 10px;
  width: 3px;
  height: 24px;
  background-color: #ffffff;
  transform: rotate(45deg);
  content: "";
}

@media (max-width: @mobile-width-only) {
  .main-nav {
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
  }

  .main-nav__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 1060px;
  }
}
