.sedona-text {
  margin: 0 auto;
  padding: 59px 20px;
  background-color: #83a1b3;
  background-image: url("../img/svg/back-mobile.svg"),
    url("../img/jpg/back-sedona.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
